<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <title>Steam | MoFo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class="container">
      <%= render 'layouts/navbar' %>
      <%= yield %>
    </div>
    <div class="container">
    </div>
  </body>
</html>
